<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poker</title>
</head>
<body>
    User1
    {% for card in user1_card %}
    <img src="static/images/{{card}}" width="100" height="150">
    {% endfor %}
    <br>
    User2
    {% for card in user2_card %}
    <img src="static/images/{{card}}" width="100" height="150">
    {% endfor %}
</body>
</html>